In [1]:
#encoding=utf-8
import sys
sys.path.append('/home/machao/anaconda2/lib/python2.7/site-packages')

import MySQLdb
import pandas as pd
import numpy as np
from collections import Counter
reload(sys)  
sys.setdefaultencoding('utf8')

In [49]:
station_week = pd.read_csv('station_week_matrix')

station_weekend = pd.read_csv('station_weekend_matrix')

station_may_home = pd.read_csv('station_may_home_matrix')

station = pd.read_csv('../station_env.csv')

In [31]:
# station['name'] == station_week_matrix.columns[1:] #True

In [32]:
user_ids = station_week['Unnamed: 0']

In [58]:
station_week_matrix = station_week.drop('Unnamed: 0', axis = 1).values
station_weekend_matrix = station_weekend.drop('Unnamed: 0', axis = 1).values
station_may_home_matrix = station_may_home.drop('Unnamed: 0', axis = 1).values
station_env = station.drop(['Unnamed: 0', 'name'], axis = 1).values

In [65]:
station_week_interest = pd.DataFrame(np.dot(station_week_matrix, station_env))
station_weekend_interest = pd.DataFrame(np.dot(station_weekend_matrix, station_env))

In [68]:
station_week_interest.describe()

                0           1           2           3
count  445.000000  445.000000  445.000000  445.000000
mean     9.713553   57.787820    5.549450   37.683046
std      5.506503   27.862772    3.666400   14.728224
min      0.307255    9.159611    1.074527    8.411866
25%      5.617534   39.490384    3.043467   27.992622
50%      8.131231   52.022642    4.408647   34.491877
75%     13.547369   66.172175    7.133810   46.788137
max     25.750908  179.909375   26.025142   76.430799